.bg-profile {
    background-color: gray;
}

.home-image {
    width: 380px;
    height: 400px
}

.experiences-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.experiences-card {
    flex: 1;
    border-style: solid;
    border-radius: 16px;
}